*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --verdegay:rgba(40,167,87,1);
    --verdemugroso: #1c5713;
}
header{
    background-color:var(--verdegay);
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:33.33vh;
}

.botonhp{
    flex-direction: column;
    display: flex;
    align-items:flex-end ;
    margin:10px 10px;
    justify-content: space-evenly;
}
.logo{
    width: 50%;
    padding:10px;
    height: 60%;
    margin:auto 0;
    border-radius: 15%;
}
.admisiones{
    background-color: var(--verdemugroso);
    padding: 0 5px;
    border-radius: 5%;}
.admisiones:hover{
    background-color: var(--verdegay);
    padding: 0 5px;}
.admisiones:active{
    background-color: red;
    padding: 0 5px;}

a {
    color:white;
    text-decoration: none;
    display: flex;
    height:auto;
}

/*pag1*/
main img{
    width:100%;
    height:33.33vh;
}
.herramientas{
    width:100%;
    height:275px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.herramientas a img{
    width: 75%;
    height: 4em;
    margin:5px;
    border-radius: 10%;
}
/*pag2*/
.nosotres{
    height:30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}
.nos{
    margin: 0 auto 7.5%;
}

.servicios{
    width: 100%;
    height:60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray;
}
.servicios div a img{
    width:9em;
    flex-wrap: wrap;
    height:9em;
    margin:auto;
}
.ser{
    display: flex;
    margin: 0 auto;

}
.servicios div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:stretch;
}
@media (min-width: 700px){
    .nosotres{
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .nos{
        margin-bottom: 0px;
    }
}